@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
:root {
  --color-dark:#202020;
  --color-strong-gray: #3F3F3F;
  --color-light-gray: #707070;
  --color-yellow: #FFDF6C;
  --color-white: #FFFFFF;
  --color-maroon: #B73225;
}

.success {
  font-weight: normal;
  font-style: normal;
}

.danger {
  font-weight: bold;
  color: red;
  font-style: oblique;
}

body {
  background: #edf3f3;
  margin: 0;
  font-family: 'Poppins';
}

.navbar {
  background: edf3f3;
  padding: 1em;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.navbar .logo {
  text-decoration: none;
  font-weight: bold;
  color: black;
  font-size: 1.2em;
}

.navbar .logo span {
  color: var(--color-maroon);
}

.navbar nav {
  display: none;
}

.navbar .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-content: space-between;
}

.navbar .mobile-menu {
  cursor: pointer;
}

a {
  color: #444444;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

section {
  padding: 3em 1em;
}

nav.menu-btn {
  display: block;
}

/*Dropdown*/
.dropdown {
  display: block;
}

li.dropdown .dropdown-content {
  background-color: #f9f9f9;
  min-width: 13em;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

li.dropdown .dropdown-content a {
  color: black;
  font-size: 1em;
  text-decoration: none;
  display: block;
  text-align: right;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/*nav JS show*/
nav {
  position: fixed;
  z-index: 999;
  width: 13rem;
  right: 4em;
  top: 0;
  background: var(--color-white);
  height: 100vh;
  padding: 1em;
}

nav ul.primary-nav {
  margin-top: 5em;
}

nav li .user-imgsize {
  width: 3em;
  height: 3em;
  border-radius: 50%;
}

nav li a {
  color: var(--color-dark);
  text-decoration: none;
  display: block;
  padding: .5em;
  font-size: 1.3em;
  text-align: right;
}

nav li a:hover {
  font-weight: bold;
}

.mobile-menu-exit {
  float: right;
  margin: .5em;
  cursor: pointer;
}

section {
  min-height: 15em;
}

.container {
  border: 1px;
}

/* landing-section */
.landing-section {
  margin: auto;
  text-align: center;
  background-size: 300%;
  background-position: center;
  background-repeat: no-repeat;
}

.left-col .subhead {
  text-transform: uppercase;
  font-weight: bold;
  color: gray;
  letter-spacing: .3em;
}

.left-col h1 {
  font-size: 2.5em;
  line-height: 1.3em;
  margin-top: .2em;
}

.left-col .primary-cta {
  background: var(--color-dark);
  color: var(--color-white);
  text-decoration: none;
  padding: .6em 1.3em;
  font-size: 1.4em;
  border-radius: 0;
  font-weight: bold;
  display: inline-block;
}

.left-col .watch-video-cta {
  display: block;
  margin-top: 1em;
}

.left-col .watch-video-cta img {
  margin-right: .5em;
}

.hero-img {
  width: 70%;
  margin-top: 3em;
}

/* blog-section */
.blog-section {
  background: var(--color-light-gray);
  margin: auto;
  color: var(--color-white);
  /* pagenation */
}

.blog-section .blog-btn {
  width: 100%;
}

.blog-section .blog-btn a.addblog-a img {
  margin-top: -2.5em;
  display: block;
  margin-left: auto;
  height: 2.4em;
  width: 2.4em;
}

.blog-section .container {
  width: 100%;
}

.blog-section .container ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.blog-section .container ul li.list-thumb-blog {
  background: var(--color-maroon);
  max-width: 20em;
  min-width: 17rem;
  height: 28rem;
  margin: 1rem 1rem;
  border-radius: 0;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.blog-section .container ul li.list-thumb-blog .thumb-blog {
  width: 100%;
  height: 14rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-size: 130%;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
}

.blog-section .container ul li.list-thumb-blog .thumb-blog .blog-title {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding-top: 3em;
  overflow: hidden;
}

.blog-section .container ul li.list-thumb-blog .thumb-blog .blog-author {
  width: 100%;
  height: 4em;
  text-align: center;
}

.blog-section .container ul li.list-thumb-blog .thumb-blog img {
  width: 5em;
  height: 5em;
  margin-top: 1em;
  border: 5px solid var(--color-white);
  border-radius: 50%;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 3;
}

.blog-section .container ul li.list-thumb-blog .thumb-blog .thumb-blog-subtitle {
  padding: 3em 2em;
  padding: auto .3em .3em .3em;
  overflow: hidden;
}

.blog-section .pagenation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  text-align: center;
  font-weight: bold;
  margin-bottom: -2em;
}

.blog-section .pagenation .pgbtn {
  width: 2.2rem;
  height: 2.2rem;
  margin: .2rem;
  background: var(--color-white);
  border-radius: .3em;
}

.blog-section .pagenation .pgbtn:hover {
  background: var(--color-strong-gray);
}

.blog-section .pagenation .pgbtn a {
  text-decoration: none;
  color: var(--color-maroon);
  font-size: 1.2rem;
}

.blog-section .pagenation .pgcurrent {
  background: var(--color-maroon);
  color: var(--color-white);
}

.blog-section .pagenation .pgcurrent a {
  color: var(--color-white);
}

/* comments-container */
.comments-container {
  width: auto;
  padding: 3em 1em;
}

.comments-container ul {
  margin: 1em;
}

.comments-container ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.comments-container ul li div {
  margin: auto;
  padding: auto 2em;
}

.comments-container ul li .commenterImage {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 1em;
}

.comments-container ul li .commenterImage img {
  width: 3em;
  height: 3em;
  border-radius: 50%;
  border: 5px solid var(--color-light-gray);
}

.comments-container ul li .commentText {
  -webkit-box-flex: 9;
      -ms-flex: 9;
          flex: 9;
}

/*contact-section*/
.contact-section {
  width: 100%;
  padding: 3em auto;
  background: var(--color-white);
}

.contact-section .contact-header {
  text-align: center;
  margin: 2em 2em;
}

.contact-section .contact-header h2 {
  color: var(--color-maroon);
}

.contact-section .contact-container {
  width: 27rem;
  margin: 2rem auto;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact-section .contact-container .contact-left {
  width: 25rem;
  background: beige;
  text-align: center;
  padding: 3em 1em;
}

.contact-section .contact-container .contact-left h2 {
  font-size: 2em;
}

.contact-section .contact-container .contact-left form {
  text-align: left;
}

.contact-section .contact-container .contact-left form label {
  display: block;
  font-size: 1.2em;
  margin-bottom: .5em;
}

.contact-section .contact-container .contact-left form input, .contact-section .contact-container .contact-left form textarea {
  width: 100%;
  padding: .8em;
  margin-bottom: 1em;
  border-radius: .3em;
  border: 1px solid gray;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.contact-section .contact-container .contact-left form input[type="submit"] {
  background-color: var(--color-maroon);
  color: var(--color-white);
  font-weight: bold;
  font-size: 1.3em;
  border: none;
  margin-bottom: 2em;
  border-radius: 5px;
  display: inline-block;
  padding: .8em 2em;
  width: unset;
  cursor: pointer;
}

.contact-section .contact-container .contact-left form .rememberMe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 2em;
}

.contact-section .contact-container .contact-left form .rememberMe #remember {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: auto;
}

.contact-section .contact-container .contact-left form .rememberMe .remember {
  -webkit-box-flex: 8;
      -ms-flex: 8;
          flex: 8;
  margin: auto;
  font-size: .9em;
  font-style: italic;
}

.contact-section .contact-container .contact-right {
  width: 25rem;
  padding: 3em 1em;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact-section .contact-container .contact-right .contact-item {
  margin-top: 3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.contact-section .contact-container .contact-right .contact-item .left {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  color: var(--color-light-gray);
}

.contact-section .contact-container .contact-right .contact-item .left i {
  color: var(--color-maroon);
}

.contact-section .contact-container .contact-right .contact-item .right {
  -webkit-box-flex: 5;
      -ms-flex: 5;
          flex: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact-section .contact-container .contact-right .contact-item .right h2 {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-size: 1.2em;
  color: black;
}

.contact-section .contact-container .contact-right .contact-item .right span {
  font-size: 1;
  font-style: italic;
}

.contact-section .contact-container .contact-right .contact-item .right .buttontext {
  color: var(--color-maroon);
  border: 3px solid var(--color-maroon);
  font-weight: bold;
  border-radius: 0;
  padding-left: 2rem;
  padding-right: 2rem;
  width: 4rem;
  text-decoration: none;
}

.contact-section .contact-container .contact-right .contact-item .right .buttontext:hover {
  background: var(--color-maroon);
  color: white;
}

.contact-section .contact-container .contact-right .contact-item .right .buttonforgot {
  color: var(--color-maroon);
  font-weight: normal;
  font-style: italic;
  padding-left: .5rem;
  padding-right: 2rem;
  width: 4rem;
}

.contact-section .contact-container .contact-right .contact-item .right .buttonforgot:hover {
  color: var(--color-dark);
}

/*footer-section*/
.footer-section {
  background: var(--color-strong-gray);
  color: white;
  text-align: center;
}

.footer-section .footer-logo a {
  font-size: 1.5em;
  color: var(--color-dark);
  text-decoration: none;
}

.footer-section .footer-logo a span {
  color: var(--color-maroon);
}

.footer-section ul {
  margin-top: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer-section ul li {
  margin: auto 1em auto 1em;
}

.footer-section ul li a {
  text-decoration: none;
  font-size: 1.3em;
  color: var(--color-maroon);
}

.footer-section .social ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer-section .social ul li {
  margin: auto 1em auto 1em;
}

.footer-section .social li i {
  color: var(--color-white);
}

/*profile-section"*/
.profile-section {
  width: 100%;
  background: var(--color-white);
}

.profile-section .profile-container {
  width: 27rem;
  margin: 2rem auto;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.profile-section .profile-container .profile-left {
  width: 25rem;
  background: beige;
  text-align: center;
  padding: 3em 1em;
}

.profile-section .profile-container .profile-left i {
  color: var(--color-maroon);
}

.profile-section .profile-container .profile-left img {
  width: 10rem;
  height: 10rem;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.profile-section .profile-container .profile-left .author-name {
  width: 12rem;
  margin: 2rem auto;
}

.profile-section .profile-container .profile-left .author-title {
  font-weight: normal;
  font-size: 1.2rem;
}

.profile-section .profile-container .profile-left .profile-social {
  width: 100%;
}

.profile-section .profile-container .profile-left .profile-social ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 12rem;
}

.profile-section .profile-container .profile-left .profile-social ul li {
  margin: auto 1rem;
}

.profile-section .profile-container .profile-right {
  width: 25rem;
  padding: 3em 1em;
  text-align: left;
}

.profile-section .profile-container .profile-right h1 {
  font-weight: bold;
  font-size: 2em;
}

.profile-section .profile-container .profile-right form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.profile-section .profile-container .profile-right form .group-inline {
  height: 2em;
  width: 100%;
}

.profile-section .profile-container .profile-right form .group-inline input {
  float: right;
  font-size: 1.2rem;
  font-weight: bold;
  width: 17.5rem;
  color: var(--color-dark);
}

.profile-section .profile-container .profile-right form .group-inline .send-message-cta {
  background: var(--color-maroon);
  color: var(--color-white);
  border: 1px solid var(--color-maroon);
}

.profile-section .profile-container .profile-right form .group-inline .send-message-cta:hover {
  background: var(--color-light-gray);
  color: var(--color-white);
}

/* Modal CSS */
.modal-window {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.25);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.modal-window:target {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
}

.modal-window > div {
  width: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 2em;
  background: white;
}

.modal-window header {
  font-weight: bold;
}

.modal-window h1 {
  text-align: left;
  font-size: 150%;
  margin: 0 0 15px;
}

.modal-close {
  color: #aaa;
  line-height: 50px;
  font-size: 80%;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 70px;
  text-decoration: none;
}

.modal-close:hover {
  color: black;
}

.modal-window > div {
  border-radius: 0rem;
  height: 8rem;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.modal-window div:not(:last-of-type) {
  margin-bottom: 15px;
}

.btn {
  text-decoration: none;
}

.btn i {
  padding-right: 0.3em;
}

.delete-btn {
  width: auto;
  height: 3rem;
  padding: 0 2rem;
  text-align: right;
}

.delete-btn a button {
  height: 2rem;
  width: 10rem;
  margin-right: 1rem;
  font-size: 1rem;
  text-align: center;
  border: 0;
  color: var(--color-white);
  background: var(--color-maroon);
}

.comment-del {
  margin-left: 3rem;
  font-weight: normal;
  font-style: italic;
}

@media only screen and (min-width: 768px) {
  .mobile-menu, .mobile-menu-exit {
    display: none;
  }
  .user-imgsize {
    width: 3em;
    height: 3em;
    border-radius: 50%;
  }
  .navbar .container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 180px auto;
        grid-template-columns: 180px auto;
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
  }
  .navbar nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background: none;
    position: unset;
    height: auto;
    width: 100%;
    padding: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
    /*dropdown*/
  }
  .navbar nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .navbar nav a {
    color: black;
    font-size: 1em;
    padding: .1em 1em;
  }
  .navbar nav ul.primary-nav {
    margin: 0;
  }
  .navbar nav li.current a {
    font-weight: bold;
  }
  .navbar nav li.go-register-cta {
    margin-right: .5em;
  }
  .navbar nav li.go-register-cta a {
    color: var(--color-white);
    background: var(--color-maroon);
    border: 3px solid var(--color-maroon);
    font-weight: bold;
    border-radius: 0;
    margin-top: -.2em;
  }
  .navbar nav li.go-register-cta a:hover {
    border: 3px solid var(--color-maroon);
    background: var(--color-white);
    color: var(--color-maroon);
  }
  .navbar nav li.go-login-cta a {
    color: var(--color-maroon);
    border: 3px solid var(--color-maroon);
    font-weight: bold;
    border-radius: 0;
    margin-top: -.2em;
  }
  .navbar nav li.go-login-cta a:hover {
    background: var(--color-maroon);
    color: white;
  }
  .navbar nav .dropdown-content {
    display: none;
    position: absolute;
  }
  .navbar nav .dropdown-content a {
    padding: 12px 16px;
    text-align: left;
  }
  .navbar nav .userprofile {
    right: 0;
    width: 13em;
  }
  .footer-section ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media only screen and (min-width: 1080px) {
  .comments-container, .delete-btn, .container {
    width: 1080px;
    margin: 0 auto;
  }
  .profile-section {
    padding-left: unset;
  }
  .profile-section .profile-container {
    width: 54rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .contact-section {
    padding-left: unset;
  }
  .contact-section .contact-container {
    width: 54rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  /*hero*/
  .landing-section {
    background-size: 100%;
  }
  .landing-section .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    text-align: left;
  }
  .landing-section .container .left-col {
    margin: 3em 3em 0 5em;
  }
  .landing-section .container .left-col h1 {
    font-size: 3em;
    width: 90%;
  }
  .hero-img {
    width: 30%;
    margin-right: 8em;
  }
  .hero-cta {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .primary-cta {
    margin-right: 1em;
  }
  .blog-section .pagenation, .blog-section .container, .blog-section .blog-btn {
    width: 1080px;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 1400px) {
  .navbar .container nav ul.secondary-nav li.dropdown .dropdown-content {
    right: unset;
  }
}
/*# sourceMappingURL=main.css.map */
